/* Skills section */

.skills-main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
  align-items: center;
}

.skills-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 360px;
  height: 270px;
  background-color: var(--skills-card-bg-color);
}

.skills-img {
  width: 320px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.skills-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.skills-card ul {
  font-size: 16px;
}

.skills-card li {
  margin-bottom: 5px;
}

.skills-title {
  font-size: 40px;
  font-weight: 500;
  margin: 150px auto;
  margin-bottom: 50px !important;

}


@media screen and (max-width: 850px) {
  .skills-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills-card {
    width: 330px;
  }
  .skills-card ul {
    font-size: 14px;
  }

  .skills-img {
    width: 200px;
    height: 130px;
  }
  
}

@media screen and (max-width: 500px) {
  .skills-img {
    width: 200px;
    height: 130px;
  }
}
